<form {{action "createCampaign" on="submit"}}>
    Name: {{input value=name}}
    &nbsp;&nbsp;&nbsp;
    Description: {{input value=description}}
    <br/>
    <button type="submit" class="btn btn-default">Create</button>
</form>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    {{#each model as |campaign|}}
        <tr class="campaign">
            <td>{{campaign.name}}</td>
            <td>{{campaign.status}}</td>
            <td>{{campaign.description}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
